Scout2map-Dataset/exit-sign-Extended.zip
Scout2map-Dataset/fire-and-person-detection.zip
Scout2map-Dataset/fire-extinguisher.zip
Scout2map-Dataset/fire-smoke-detection.zip
Scout2map-Dataset/gas-tank.zip
Scout2map-Dataset/Yolo-disaster-relief.zip
